{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<h1>Connexion</h1>

{{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn btn-primary" type="submit">Connexion</button>
{{ form_end(form) }}

{% endblock %}
