{% extends "base.html.twig" %}
{% block title %}
    Nouvelle Catégorie
{% endblock %}
{% block body %}

<h1>Nouvelle catégorie</h1>

{{ form_start(form) }}
{{ form_widget(form) }}

<button type="submit" class="btn btn-primary">Créer</button>

{{ form_end(form) }}
    
{% endblock %}