{% extends "base.html.twig" %}
{% block title %}
    Modifier la Catégorie
{% endblock %}
{% block body %}

<h1>Modification de la catégorie</h1>

{{ form_start(form) }}
{{ form_widget(form) }}

<button type="submit" class="btn btn-primary">Modifier</button>

{{ form_end(form) }}
    
{% endblock %}