{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <div class="main-panel">

      {{ block('navbar', 'navbar.html.twig')}}

      <div class="content">
        <!-- FIRST ROW -->
        <div class="row">

        <!-- LARGE PICTURE -->
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <img src="../assets/img/cookbook2.jpg" alt="cookbook" width="100%">
              </div>
            </div>
          </div>
          <!-- end of column -->
        </div>
        <div class="row">

          <div class="col-lg-4">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Recettes</h5>
                <h3 class="card-title"><i class="tim-icons icon-book-bookmark text-primary"></i> {{ recipes | length }} recettes</h3>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="chartLinePurple"></canvas>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Catégories</h5>
                <h3 class="card-title"><i class="tim-icons icon-tag text-info"></i> {{ categories | length }} catégories</h3>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="CountryChart"></canvas>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Utilisateurs</h5>
                <h3 class="card-title"><i class="tim-icons icon-single-02 text-danger"></i> {{ users | length }} utilisateurs</h3>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="chartLineGreen"></canvas>
                </div>
              </div>
            </div>
          </div>

        </div>
        
      </div>

    </div>
{% endblock %}
